<!DOCTYPE html>
<html>
<head>
    <style>
        @font-face { font-family: retro; src: url(moderngoth.ttf) format("truetype"); }
        .container {
            text-align: center;
        }
        .button {
            background-color: bisque;
            border: none;
            color: black;
            padding: 8px 20px;
            text-align:center;
            font-size: 35px;
            margin : 10px;
            font-family: retro;
        }
        body {
            background-color: black;
        }
    </style>
</head>
<body>

    <h1 style="font-family: retro; text-align: center; font-size: 150px; color: bisque;">Dumbbell Dungeon</h1>
    <div class='container'>
        <a href = "/addWorkout"> <button class="button" >Add Lift</button></a>
        <a href = "/graphs"><button class="button" >Progression</button></a>
        <a href = "/list"><button class="button" >View Lifts</button></a>
    </div>
</body>
</html>